extend ../layout

block content
    a(href='/bicicletas/create') Crear
    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col')
                th(scope='col')
        tbody
            each bici in bicis
                tr
                    td(scope='row')= bici.code
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href='/bicicletas/'+bici.code+'/update') Editar
                    td
                        form.inLine(method='post', action='/bicicletas/'+bici.code+'/delete')
                            input(type="hidden", name="id", value=bici.code)
                            button.link-button(type="submit", class="btn") Eliminar